Week_4/Lab 5/Building_2.0/environment/resources/definition_3.json
{
	"Comment": "Basic step function process to Validate IP and cellphone",
	"StartAt": "Validate",
	"States": {
		"Validate": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-west-2:997978499156:function:validate",
			"Next": "Parallel"
		},
		"Parallel": {
			"Type": "Parallel",
			"Branches": [{
					"StartAt": "Tag",
					"States": {
						"Tag": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-west-2:997978499156:function:tag",
							"End": true
						}
					}
				},{
					"StartAt": "Sentiment",
					"States": {
						"Sentiment": {
							"Type": "Task",
							"Resource": "arn:aws:lambda:us-west-2:997978499156:function:sentiment",
							"End": true
						}
					}
				}
			],
			"Next": "Publish"
		},
		"Publish": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-west-2:997978499156:function:publish",
			"Next": "CreatePreSignedUrl"
		},
		"CreatePreSignedUrl": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-west-2:997978499156:function:create_pre_signed_url",
			"End": true
		},
		"SendText": {
			"Type": "Task",
			"Resource": "arn:aws:states:::sns:publish",
			"Parameters": {
				"Message.$": "$.message_str",
				"PhoneNumber.$": "+2348168774033"
			},
			"End": true
		}
	}
}